.container {  
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-template-rows: 0.6fr 0.6fr 0.6fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "presentacion presentacion presentacion"
      "texto_presentacion texto_presentacion texto_presentacion"
      "boton1 boton2 boton3"
      "boton4 boton5 boton6";
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.presentacion { 
    grid-area: presentacion;
    text-align: center;
}

.texto_presentacion {
    grid-area: texto_presentacion;
    text-align: center;
}

.boton1 { 
    grid-area: boton1;
    text-align: center;
}
  
.boton2 { 
    grid-area: boton2;
    text-align: center;
}
  
.boton3 { 
    grid-area: boton3;
    text-align: center;
}
  
.boton4 {
    grid-area: boton4;
    text-align: center;
}
  
.boton5 {
    grid-area: boton5;
    text-align: center;
}
  
.boton6 { 
    grid-area: boton6;
    text-align: center;
}
footer {
    text-align: center;
}