body {
    background-color: #0979b0;
}

.container {  
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-template-rows: 0.6fr 0.6fr 0.6fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "presentacion presentacion presentacion"
      "texto_presentacion texto_presentacion texto_presentacion"
      "boton1 boton2 boton3"
      "boton4 boton5 boton6";
}

h1 {
    font-family:'Roboto';
    color: white;

}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.letra{
    color: white;
}

.presentacion {
    color: white;
    background-color: #0cb7f2;
    grid-area: presentacion;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    padding: 15px;
}

.texto_presentacion {
    grid-area: texto_presentacion;
    text-align: center;
    background-color: #0cb7f2;
    border-radius: 20px;
    margin: 25px;
    padding: 15px;
}

.boton1 { 
    background-color: #0cb7f2;
    grid-area: boton1;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
}
  
.boton2 { 
    background-color: #0cb7f2;
    grid-area: boton2;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
}
  
.boton3 { 
    background-color: #0cb7f2;
    grid-area: boton3;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
}
  
.boton4 {
    background-color: #0cb7f2;
    grid-area: boton4;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
}
  
.boton5 {
    background-color: #0cb7f2;
    grid-area: boton5;
    text-align: center; 
    border-radius: 20px;
    margin: 5px;
}
  
.boton6 { 
    background-color: #0cb7f2;
    grid-area: boton6;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
}

.contorno {
    background-color: #0979b0;
    border-radius: 12px;
    padding: 5px;
    margin: 2px;
}

.inf-sindicato {
    color: white;
    background-color: #0979b0;
    border-radius: 12px;
    padding: 20px;
    margin: 20px ;
}

footer {
    color: white;
    background-color: #0cb7f2;
    text-align: center;
    padding: 9px;
    margin: 6px;
    border-radius: 20px;
}